{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <h1>Привет, я автор</h1>
  <article class="card my-4">
    <p class="card-header"><b>Когда-то давно</b></p>
    <p style="padding: 1rem">Я родился</p>
    <p class="card-header"><b>Затем очень долго</b></p>
    <p style="padding: 1rem">Я учился</p>
    <p class="card-header"><b>Затем пришло время</b></p>
    <p style="padding: 1rem">
      <table><tr><td style="padding: 1rem; vertical-align: top;">
        Много работать... А сейчас я снова учусь.<br>
        Наверное это время я мог потратить на что-то более общественно-полезное.
        Например, уделить время моей семье, близким, друзьям, да просто 
        погулять с собакой))))<br> Зачем? 
        Да кто ж меня знает))))<br>
        Возможно мне просто нравится программирование?<br>
        Вообще, если честно, сочинять - не мой конёк, поэтому текста здесь немного...
        НО, если необходимо, всегда можно скопипастить томик "Война и мир". В этом проекте
        он будет вполне актуален!)
      </td><td>
        <img class="card-img my-2"
          src="{% static 'img/Rich_sm.jpg' %}"
          style="width:400px;height:236px"
          alt="Richard"><p style="text-allign: center;  width: 300px">
            Знакомьтесь - мой пёс Ричард (Только вряд ли вы его увидите,
            т.к. элементы static у нас в .gitignore</p>
      </td></tr></table>
    </p>
    <p class="card-header"><b>Придет время...</b></p>
    <p style="padding: 1rem">
      ... и оно расставит всё по своим местам.<br>
      <i>&#171;Время покажет, кто чего стоил<br>В этой борьбе...&#187;<br>
        (&copy; - К.Кинчев)
      </i>
    </p>
</article>
</div>
{% endblock %}
