{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Мы усвоили много материала за это время, как по языку Python, так и по Django.<br>
        Кто-то узнал много нового, кто-то вспомнил что-то из ранее изученного.
        Но разве можно выучить всё за такой короткий срок? Так что будем продолжать 
        &#171;учиться, учиться и ещё раз учиться&#187;, как завещал великий Ленин, как
        учит... Так, стоп! О чём это я?<br><br>
        И всё же есть позиции, которые в силу разных неизвестных (ой-ли) мне причин пока так и не улеглись в моей голове,
        несмотря на многочасовые просмотры роликов, чтение статей и тестирование команд в shell...
        Где бы найти специалиста, который внятно мог бы объяснить мне их лично?
      </p>
    </article>
  </div>
</div>
{% endblock %}
